
h1 {
    font: bold 5em Helvetica, Arial, Sans-Serif;
    	color: white;
    	padding: 0.2em;
	font-family: Monoton;
	text-shadow: 0 0 10px #fff, 0 0 20px #00d2ff, 0 0 30px #00d2ff, 0 0 40px #00d2ff, 0 0 50px #00d2ff, 0 0 60px #00d2ff, 0 0 70px #00d2ff;
}
.badge{
    margin-top: 1em;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
a, .link:link { background-color: thistle }
a, .link:visited { background-color: lavender }
a, .link:hover { background-color: pink }
a, .link:focus { background-color: aquamarine; color: black }
a, .link:active { background-color: oldlace }
.link:visited:hover{background-color:gray;color:white }

.sos {
    color: yellow;
    text-shadow:
    1px 1px blue,
    2px 2px blue,
    3px 3px blue;
    transition: all .12s ease-out;
}
.sos:hover {
    position: relative; top: -3px; left: -3px;
    text-shadow:
    1px 1px blue,
    2px 2px blue,
    3px 3px blue,
    4px 4px blue,
    5px 5px blue,
    6px 6px blue;
}

#neon-title{
            font: bold 5em Helvetica, Arial, Sans-Serif;
	        color: brown;
	        padding: 0.2em;
           	font-family: Megrim;
           	text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #fff, 0 0 4px greenyellow, 0 0 7px greenyellow, 0 0 8px lime, 0 0 10px lime, 0 0 15px lime;
           }

           #neon-title {
           	-webkit-animation: neon 4s ease-in-out infinite alternate;
           	animation: neon 4s ease-in-out infinite alternate;
           }

           @-webkit-keyframes neon {
           	0% {
           		opacity: 1;
           	}
           	30% {
           		opacity: 0;
           	}
           	31% {
           		opacity: 1;
           	}
           	48% {
           		opacity: 0;
           	}
           	50% {
           		opacity: 1;
           	}
           	100% {
           		opacity: 1;
           	}
           }

           @keyframes neon {
           	0% {
           		opacity: 1;
           	}
           	30% {
           		opacity: 0;
           	}
           	31% {
           		opacity: 1;
           	}
           	48% {
           		opacity: 0;
           	}
           	50% {
           		opacity: 1;
           	}
           	100% {
           		opacity: 1;
           	}
           }
